{% extends 'base.html' %} {% block content %}
<style>
    @media only screen and (max-width: 600px) {}
</style>


{% if success %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your task deleted !
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% if tasks|length == 0 %}
<div class="alert alert-success text-md-center mt-5" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
{% else %}
<div class="container py-4">
    <h1 class="text-center">Your to-do's</h1>
    <table class="table mx-3 my-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task - Title</th>
                <th scope="col">Task - Description</th>
                <th scope="col">Time</th>

            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{task.taskname}}</td>
                <td>{{task.taskdesc}}</td>
                <td>{{task.time}}</td>

                <td>
                    <div class="buttons">
                        <a class="btn btn-outline-primary" href="/update/{{task.id}}">Update</a>
                        <a class="btn btn-outline-danger" href="/delete/{{task.id}}">Delete</a>
                    </div>
                </td>


                {% endfor %}
        </tbody>
    </table>
</div>
{% endif %} {% endblock content %}