{% extends 'base.html' %}

{% block content %}

    <div class="container  my-3">
        <h1 class="text-center ">Welcome ,{{name|upper}} Edit your to-do's Here</h1>
        <form action="/edit/{{id}}" method="GET" class="my-4">
            {% csrf_token %}
            <div class="mx-5 my-3">
                <label for="title" class="form-label">title</label>
                <input type="text" class="form-control" id="title" name="title" value={{title}}>

            </div>
            <div class="mx-5 mb-3">
                <label for="desc" class="form-label ">Discription</label>
                <textarea style="height: 8rem;" type="text" class="form-control " id="desc" name="desc">{{desc}}</textarea>
            </div>
            <button type="submit " class="btn btn-primary mx-5">Update</button>
        </form>
    </div>
   {% endblock content %}